body{
    font-family: "Lato", sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

#CloseButton{
    display: none;
}
.navbar-brand {
    margin-right: -15rem;
    margin-left: 5rem;
}

.navbar-nav a{
    /* font-size: 1.2rem; */
    font-weight: 400;
    color: white !important;;
}

.navbar-nav a:hover{
    color: gray!important;
}

.navbar-nav span a:hover{
    background-color: white;
    color:black
}

.OtherMenu {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 100!important;
    top: 0;
    right: 0;
    background-color: rgb(1, 30, 73);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 2rem;
    line-height: 60px;
    border-radius: 0 0 0 5%;
}
.OtherMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(118, 202, 241);;
    display: block;
    transition: 0.3s;
    border-bottom: 2px solid rgb(255, 255, 255);
}
 .OtherMenu a:hover {
    color: #414040;
}
 .OtherMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.carousel-caption {
    position: absolute;
    right: 5%;
    bottom: 10rem;
    left: 5%;
    padding-top: 1.25rem;
    padding-bottom: 7rem;
    color: #fff;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.486);

}
.carousel-caption p{
    font-family: "Lato";
    font-size: 1.5rem;
}


#sm-device{
    display: none;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    left: 1;
  }
  .bottom-right-single {
    position: relative;
    /* bottom: 100%; */
    /* right: 50px; */
    /* left: 0; */
    margin-top: -8%;
    margin-bottom: 3%;
    text-align: right;
  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.btn-default{
    border-radius: 0 0;
    border-color:#000;
}
  .btn-default:hover{
    background-color: #f00;
    color: #fff;
    border-color:#f00;
  }
  p{
    line-height: 30px;
    font-size: 20px;
  }
  .socials{
    position: absolute;
    bottom: 0;
    left: 1;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    padding: 10% 3%;
    width: 90%;
    height: 200px;
    background-color: transparent;
    transition: 2s;
  }
  .event-social{
    position: absolute;
    top:0;
    /* background-color: rgb(0, 0, 0); */
    z-index: 1;
    padding: 30% 1%;
    text-align: right;
    width: 90%;
    height: 200px;
    background-color: transparent;
    transition: 2s;
  }
  .event-social a{
    font-size: 25px;
    padding: 5% 2%;
    color: rgb(255, 255, 255);
  }
.socials a{
    font-size: 25px;
    padding: 5% 5%;
    color: rgb(255, 255, 255);
    display: none;
  }
  .bottom-right-single a{
    font-size: 25px;
    padding: 2%;
    color:#fff;
    margin-right: 1%;
    background-color: rgb(87, 87, 87);
  }

  .socials a:hover, .bottom-right-single a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(14, 1, 87);
  }

  .dropdown-menu {
    min-width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.46);
  }
  .dropdown-menu input{
    width: 1em;
    height:1em;
    margin-right: 5%;
  }
  .events .card:hover{
    background-color: rgba(199, 196, 196, 0.02);
  }

.event-date{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    padding: 1% 5%;
    line-height: 0px;
    text-align: center;
}

.fs-1{
    font-size: 5rem !important;
}

.alert {
    padding: .5rem 3.5rem .5rem .5rem ;
    border:none;
    box-shadow: 0 0 2px black;
    background-color: rgb(0, 48, 0);
    color: #fff;
}

.btn-close {
    width: 0em;
    height: 0em;
    background-color: rgb(255, 255, 255);
}

.event-single-date {
    font-family: Tahoma, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding: 0 0;
    margin: -5% 0 -3% 0;
}
.event-title{
    font-family: 'Arial Black', sans-serif;
    /* font-weight: bold;  */
    word-spacing: 0;
    font-size: 2.2rem;
    
}
/* footer declarations */

footer ul li {
    list-style-type: none;
    padding: 2%;
    margin: 0;
    display: inline-block;
}
a{
    text-decoration: none !important;
}

footer ul li a{
    text-transform: uppercase;
    font-weight: 500;
    color:#fff;
}
footer ul li a >i{
    color:#fff;
}
footer ul li a.p-3{
    background-color: rgb(233, 130, 4);
    padding: 5px ;
    font-weight: bolder;
}
footer ul li a.p-3:hover{
    background-color: rgb(38, 1, 106);
}
.iframe-container{
position: relative;
width: 100%;
padding-bottom: 56.25%;
height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* owl carousel css */

.card-img-top{
    height: 28vh;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.owl-prev{
    left:-80px;
}
.owl-next{
    right:-80px;
}
.owl-prev, .owl-next{
    position: absolute;
    top:30px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font-size: 6rem;
}
/* .owl-theme .owl-nav [class*=owl-]{
    background: #fff;
    color:#000;
    font-size: 10rem;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent;
    color:black;
} */


/* navbar becomes mobile sidebar under lg breakpoint */
@media (max-width: 992px) {

    .navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -45%;
        transition: all 0.2s ease;
        overflow-x: hidden;
        /* z-index: 100!important; */
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        height: auto;
        width: 60%;
        transition: left 0.2s ease;
        /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
        background-color: black;
        color:white;
        padding: 2rem 3rem;
        z-index: 100!important;
    }
    .navbar-collapse.show .navbar-nav a{
        font-weight: 100;
        font-size: 1.5rem;
    }
    .navbar-collapse.show ul.navbar-nav li {
        border-bottom: 2px solid gray;
    }
    .OtherMenu a {
        font-size: 18px;
    }
   

}
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .navbar{
        background-color: black!important;
    }
    .navbar-brand {
        margin-right: 1rem;
        margin-left: 0;
    }
    .carousel-item img{
        height: 100vh;
        object-fit: cover;
    }
    .carousel-caption{
        bottom: 3rem;
    }
    #lg-device{
        display: none;
    }
    #sm-device{
        display: inline-block;
    }
    .event-social{
        padding: 80% 1%;
    }
   
      /* Centered text */
      /* .centered {
        position: absolute;
        top: 27%;
        left: 32%;
        transform: translate(-10%, -10%);
    } */

}

@media (max-width: 991.98px) {

  /* Centered text */
  /* .centered {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-10%, -10%);
} */

}
